extends layout

block content
	br
	br
	div.col-12.col-sm-12.form-group(style="padding: 0;")
		a.btn.btn-block(href="mailto:#{address}?subject=#{title}&body=#{body}" style="background-color: #bb0000; color: #ffffff;") Send Files
