extends layout

block content
	br
	br
	div.col-12.col-sm-12.form-group(style="padding: 0;")
		div.card-body
			div.card-title Next Step
			div.card-text Please send all of the files that you wanted to print as attachments to cmu.print@aol.com using this link.
			a.btn.btn-block(href="mailto:#{address}?subject=#{title}&body=#{body}" style="background-color: #bb0000; color: #ffffff;") Send Files
